@charset "UTF-8";
/* CSS Document */
/* Indigint */

@font-face {
    font-family: 'profontwindowsregular';
    src: url('../fonts/profontwindows_regular_macroman/ProFontWindows-webfont.eot');
    src: url('../fonts/profontwindows_regular_macroman/ProFontWindows-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/profontwindows_regular_macroman/ProFontWindows-webfont.woff') format('woff'),
         url('../fonts/profontwindows_regular_macroman/ProFontWindows-webfont.ttf') format('truetype'),
         url('../fonts/profontwindows_regular_macroman/ProFontWindows-webfont.svg#profontwindowsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

body {
    width: 100%;
    -webkit-user-select:none;
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.main-bg {
    background-color: #fff;
    /*
    background-image: url('../images/main-bg.jpg');
    background-repeat: repeat;
    */
}

header {
    padding-left:30px;
    padding-top:15px;
    font-family: 'profontwindowsregular';
    font-size: 24px;
}

.scroll-none {
		overflow-y:hidden;
}

.welcome {
	color: #110d42;
}
	
.vertCenter {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.about img {
	width: 100%;
	height: auto;
	overflow: hidden;
	float:none;
    display:inline-block;
    vertical-align:middle;
    margin: 20px 5px;
} 

.navbar, .footer{

	text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #ddd;
    font-size: large;
	background: -webkit-linear-gradient(#0033CC, #4D70DB); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#0033CC, #4D70DB); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#0033CC, #4D70DB); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#0033CC, #4D70DB); /* Standard syntax */

}

.nav {
	color: white;
}

.contactUs {
	position: relative;
	top: 5px;

}

footer {
	background: -webkit-linear-gradient(#0033CC, #4D70DB); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#0033CC, #4D70DB); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#0033CC, #4D70DB); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#0033CC, #4D70DB); /* Standard syntax */
  	color: #FFF;
  	font-size: 14px;
  	padding: 20px;
}

ul.unstyled {
	list-style: none;
	padding: 0;
	color: #FFF;

}

footer > a {
	color: inherit;
	text-decoration: none;
}

#hello {
    padding-top: 32px;
}
