{% extends "app/base.html" %}
{% load static %}

{% block content %}
<div class="container about">
	<div class="row">

		<div class="col-md-6 aboutImg" >
			<img src="{% static 'images/stockPhotos/white_couple_grocery.jpg' %}" alt="Couple Shopping">
		</div> <!-- end of col-md-4 (stockImage) -->
		<div class="col-md-6">
			<h1>About Us</h1>
			<p>No one quite knows how to respond to a power outage in the middle of the night.  But when, said power outage, causes the smoke detectors to go off throughout your entire house… you start to realize that the system that you have set in place to control the many aspects of your life, just isn’t working for you.</p>

			<p>Through our personal experiences, we come to understand that there are better ways of doing things. In the age of technology, we are bombarded by ways to make things in our lives easier.  But many of these, so called, solutions walk a fine line between being helpful and making things so overly complicated, that you begin to question why you needed to make it easier at all.</p>

			<p>We have a strong desire to, no only stop walking that fine line, but get so far away from that line that you’d begin to question why nobody had come up with this concept sooner . . . like in the 1800’s.</p>

			<p>We are on a quest to improve and simplify your life.  Give us a chance, and if you aren’t happy let us know.  As with everything . . . there is always room for improvement, we know . . . that’s what our teachers used to tell our parents when we were kids.</p>
		</div> <!-- end of col-md-8 div -->
	</div> <!-- end of row div -->
</div>
{% endblock %}