{% load static %}

<html>

{% block header %}
    <head>
        <link rel="shortcut icon" href="{% static 'images/indigint.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'images/indigint.ico' %}" type="image/x-icon">
		<meta charset="utf-8">
		<meta property="og:title" content="Indigint" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://indigint.com" />
		<meta property="og:image" content="{% static 'images/main_logo.png' %}" />

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet" type="text/css">

        <script type="text/JavaScript" src="{% static 'js/sha512.js' %}"></script>
        <script type="text/JavaScript" src="{% static 'js/forms.js' %}"></script>
    </head>

    {% block nav-bar %}
        <a href="{% url 'index' %}"><img width=100 height=100 src="" alt="index image goes here" /></a>
        <a href="{% url 'why' %}"> Why </a>
        <a href="{% url 'about' %}"> About </a>
        <a href="{% url 'contact' %}"> Contact </a>

        {% if user.is_authenticated %}
            Hello, {{ user.username }}
            <a href="{% url 'logout' %}"> Logout </a>
        {% else %}
            <a href="{% url 'register' %}"> Register </a>
            <a href="{% url 'login' %}"> Login </a>
        {% endif%}
    {% endblock %}

{% endblock %}

{%block content %}<h3>base.html - default content</h3>{% endblock %}

{% block footer %}
	<div class="container-fluid well footer">
	<div class="container">

    <p style="text-align:center;">Copyright &copy; 2015 Indigint Inc.</p>

	</div> <!-- end of container class -->
	</div> <!-- end of container-fluid well class -->
    {% endblock %}

</html>