{% extends "app/base.html" %}

{% block content %}

    <div class="container mainBody">
      <!--level 1 -->

      <div class="carousel slide" id="myCarousel">

      </div> <!-- end of myCarousel -->
      <div class="row">
        <div class="mainImg"><img src="../images/stockPhotos/cute_family_shopping.jpg" height="100%" width="100%">

          <!--<div class="row"> <!--level 2 -->

            <!--<div class="col-xs-3 col-md-6"></div> -->
            <div class="row">
            <div class="col-xs-5 col-xs-offset-7 col-md-4 col-md-offset-8 jumbotron">

              <p>Manage your time and money, while balancing the rest of your life. Sounds a little far fetched? Well, let us indulge.</p>
              <p><a class="btn btn-primary btn-lg" href="register.php" role="button">Sign Up</a></p>

            </div> <!-- end of jumbotron -->
          </div> <!-- end of inner row div -->
        </div> <!-- end of col 12 div-->

    </div>

    </div> <!- end of container div -->

{% endblock %}