{% extends "app/base.html" %}

{% block content %}
    <h1>Why use us?</h1>
    <p>As with most tools, they are only useful when they are used properly. We have tried our best to decipher the easiest way to budget, shop, plan, and save, but we can only take you as far as you let us.  As an app, indigint has the ability to help you feel like you’re more in control of one of, what many would consider to be, and the smallest problem that we face on a weekly basis.</p>

    <h3>Indigint to Budget</h3>
    <p>First things first, we are here to help you stick to a budget.  Don’t have a budget?  That’s fine too, the app will still do its job, but you won’t be allowing it to live up to its full potential.  Give us an estimate of your monthly spending, and then let us take care of the rest for you.</p>

    <h3>Indigint to Shop</h3>
    <p>The backbone of what we do, really is all about letting you shop.  We give you the tools to do exactly that… whether you’re an avid shopper, or would rather just have someone do it for you altogether, shopping with us is more fun. Seriously.  Give us a list of the things that you buy on a consistent basis, and we’ll give you an optimized shopping list for that.  Give us a list of things that you buy once in a while, and we’ll give you an optimized shopping list for that.  Give us a list for things that you need, but don’t necessarily need on a consistent basis, and we’ll give you an optimized shopping list for that.  Give us a list for your great-aunts, dogs 13th birthday, and we… well, we’ll let you just handle that one on your own.  But you get the point.</p>

    <h3>Indigint to Plan</h3>
    <p>Speaking of birthdays… they’re kind of an annual thing.  Have you ever wished that you could get a jumpstart on getting all the food for that birthday party that you’re always expected to organize?  Or, wouldn’t you love something to help you have the best Super Bowl party on the block, every year?  With the ability to make your own lists, however specialized they may be, you can have complete and utter control to be, well… awesome!</p>

    <h3>Indigint to Save</h3>
    <p>One of the best things about having a budget, isn’t setting money aside with the pure intent to spend it . . . unless you’re, like, 13.  Budgeting is, by definition, a way to save money.  Would you like to use that saved cash and tuck it away for something that you “want” but not necessarily “need”?  We can help you out with your saving, just like you used to when you had your very first piggybank, which if you really are 13, wasn’t too long ago!</p>
{% endblock %}